* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 300%;
}

#headerContent {
  display: flex;
  background-color: #2d6a79e1;
  justify-content: center;
  align-items: center;
  color: rgb(253, 253, 253);
  padding: 1rem;
}

#headerContent img {
  width: 15rem;
  border-radius: 50%;
  background-color: #469aafe1;
  border: 2px solid black;
}

#headerContent p::first-letter {
  font-size: 150%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.introduction {
  width: 40%;
  padding: 0 1rem 0 1rem;
}

.introduction h2 {
  letter-spacing: 0.1ch;
  color: #e4e4e4;
}

.title {
  color: rgb(25, 107, 155);
  font-weight: bold;
}

#gradientTop {
  width: 100%;
  height: 2rem;
  background: linear-gradient(#2d6a79e1, #f0f0f0);
}

#mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

#mainContent p,
#mainContent li {
  margin: 1rem;
}

#mainContent h2 {
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  padding: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

#contactInfo {
  width: 100%;
  text-align: center;
}

#contactInfo ul {
  list-style-type: none;
}

.additionalInfo {
  display: block;
  margin-left: 1.5rem;
  color: #919191;
}

.details {
  list-style-type: none;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
}

#education,
#workExperience {
  width: 50%;
}

#education ul, #workExperience ul {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#gradientBottom {
  width: 100%;
  height: 2rem;
  background: linear-gradient(#f0f0f0, #2d6a79e1);
}

footer {
  width: 100%;
  height: 5rem;
  background-color: #2d6a79e1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1024px) {
  #mainContent,
  #headerContent {
    flex-direction: column;
  }

  #workExperience h2,
  #education h2,
  #contactInfo h2 {
    border-top: 2px solid black;
  }

  #workExperience,
  #education {
    width: initial;
  }

  #workExperience ul, #education ul {
    width: initial;
  }

  .introduction {
    width: 50%;
  }
}
